.Header {
  position: relative;
  width: 100%;
  background-color: blue;
  padding: 15px 10px;

}

.NavLink {
  margin-left: 20px;
  text-decoration: none;
  color: #6fccf7;
  font-weight: 400;
}

.NavLink.active {
  color: aliceblue;
  }

 .NavLink:hover,
 .NavLink:focus {
  font-weight: 700; }

  .Link {
    text-decoration: none;
    color: blue;
    font-weight: 500;
  }

  .Link:hover,
  .Link:focus {
    font-weight: 700;
  }